In [14]:
import pandas as pd
import json
import math

In [51]:
DATA = 'website/src/data/'

df_scores = pd.read_csv(DATA + 'data_scores.csv', na_filter=False)

# drop columns
df_scores = df_scores.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

# rename columns
df_scores.columns = ['year', 'name', 'code', 'region', 'happiness']

df_scores

      year              name code                           region  happiness
0     2015       Switzerland   CH                   Western Europe      7.587
1     2015           Iceland   IS                   Western Europe      7.561
2     2015           Denmark   DK                   Western Europe      7.527
3     2015            Norway   NO                   Western Europe      7.522
4     2015            Canada   CA                    North America      7.427
...    ...               ...  ...                              ...        ...
1360  2023  Congo (Kinshasa)   CD               Sub-Saharan Africa      3.207
1361  2023          Zimbabwe   ZW               Sub-Saharan Africa      3.204
1362  2023      Sierra Leone   SL               Sub-Saharan Africa      3.138
1363  2023           Lebanon   LB  Middle East and Northern Africa      2.392
1364  2023       Afghanistan   AF                    Southern Asia      1.859

[1365 rows x 5 columns]

In [91]:
df_2023 = pd.read_csv(DATA + 'data_2023.csv', na_filter=False)

# drop columns
df_2023 = df_2023.drop(['Unnamed: 0'], axis=1)

# rename columns
df_2023.columns = ['name', 'region', 'code', 'happiness', 'gdp', 'social support', 'life expectancy', 'freedom', 'generosity', 'corruption']

df_2023['year'] = 2023

df_2023

,name,region,code,happiness,gdp,social support,life expectancy,freedom,generosity,corruption,year
0,Finland,Western Europe,FI,7.804,10.792,0.969,71.150,0.961,-0.019,0.182,2023
1,Denmark,Western Europe,DK,7.586,10.962,0.954,71.250,0.934,0.134,0.196,2023
2,Iceland,Western Europe,IS,7.530,10.896,0.983,72.050,0.936,0.211,0.668,2023
3,Israel,Middle East and Northern Africa,IL,7.473,10.639,0.943,72.697,0.809,-0.023,0.708,2023
4,Netherlands,Western Europe,NL,7.403,10.942,0.930,71.550,0.887,0.213,0.379,2023
...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),Sub-Saharan Africa,CD,3.207,7.007,0.652,55.375,0.664,0.086,0.834,2023
133,Zimbabwe,Sub-Saharan Africa,ZW,3.204,7.641,0.690,54.050,0.654,-0.046,0.766,2023
134,Sierra Leone,Sub-Saharan Africa,SL,3.138,7.394,0.555,54.900,0.660,0.105,0.858,2023
135,Lebanon,Middle East and Northern Africa,LB,2.392,9.478,0.530,66.149,0.474,-0.141,0.891,2023
136,Afghanistan,Southern Asia,AF,1.859,7.324,0.341,54.712,0.382,-0.081,0.847,2023

In [63]:
df_borders = pd.read_csv(DATA + 'country-borders.csv', na_filter=False)

# rename columns
df_borders.columns = ['code', 'name', 'border', 'border_name']

df_borders.drop(['name', 'border_name'], axis=1, inplace=True)

df_borders

    code border
0     AD     FR
1     AD     ES
2     AE     OM
3     AE     SA
4     AF     CN
..   ...    ...
723   ZM     ZW
724   ZW     BW
725   ZW     MZ
726   ZW     ZA
727   ZW     ZM

[728 rows x 2 columns]

In [64]:
df_gps = pd.read_csv(DATA + 'gps.csv', na_filter=False)

# rename columns
df_gps.columns = ['code', 'latitude', 'longitude', 'name']

df_gps = df_gps.drop(['name'], axis=1)
df_gps

    code    latitude   longitude
0     AD   42.546245    1.601554
1     AE   23.424076   53.847818
2     AF    33.93911   67.709953
3     AG   17.060816  -61.796428
4     AI   18.220554  -63.068615
..   ...         ...         ...
240   YE   15.552727   48.516388
241   YT    -12.8275   45.166244
242   ZA  -30.559482   22.937506
243   ZM  -13.133897   27.849332
244   ZW  -19.015438   29.154857

[245 rows x 3 columns]

In [92]:
# merge df_scores and df_gps
#df_nodes = pd.merge(df_scores, df_2023, on=['code', 'year'], how='outer')
#df_nodes = pd.merge(df_nodes, df_gps, on=['code'], how='inner')

df_nodes = pd.merge(df_2023, df_gps, on=['code'], how='inner')

df_nodes

,name,region,code,happiness,gdp,social support,life expectancy,freedom,generosity,corruption,year,latitude,longitude
0,Finland,Western Europe,FI,7.804,10.792,0.969,71.150,0.961,-0.019,0.182,2023,61.92411,25.748151
1,Denmark,Western Europe,DK,7.586,10.962,0.954,71.250,0.934,0.134,0.196,2023,56.26392,9.501785
2,Iceland,Western Europe,IS,7.530,10.896,0.983,72.050,0.936,0.211,0.668,2023,64.963051,-19.020835
3,Israel,Middle East and Northern Africa,IL,7.473,10.639,0.943,72.697,0.809,-0.023,0.708,2023,31.046051,34.851612
4,Netherlands,Western Europe,NL,7.403,10.942,0.930,71.550,0.887,0.213,0.379,2023,52.132633,5.291266
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),Sub-Saharan Africa,CD,3.207,7.007,0.652,55.375,0.664,0.086,0.834,2023,-4.038333,21.758664
133,Zimbabwe,Sub-Saharan Africa,ZW,3.204,7.641,0.690,54.050,0.654,-0.046,0.766,2023,-19.015438,29.154857
134,Sierra Leone,Sub-Saharan Africa,SL,3.138,7.394,0.555,54.900,0.660,0.105,0.858,2023,8.460555,-11.779889
135,Lebanon,Middle East and Northern Africa,LB,2.392,9.478,0.530,66.149,0.474,-0.141,0.891,2023,33.854721,35.862285
136,Afghanistan,Southern Asia,AF,1.859,7.324,0.341,54.712,0.382,-0.081,0.847,2023,33.93911,67.709953

In [100]:
nodes = {}
codes_ids = {}
id = 0

for index, row in df_nodes[df_nodes['year'] == 2023][["code", "name", "region", 'happiness', 'gdp', 'social support', 'life expectancy', 'freedom', 'generosity', 'corruption', "latitude", "longitude"]].drop_duplicates().iterrows():
    nodes[row["code"]] = {
        'id': id,
        'code': row["code"],
        'name': row["name"],
        'region': row["region"],
        'happiness': row["happiness"],
        'gdp': row["gdp"],
        'social_support': row["social support"],
        'life_expectancy': row["life expectancy"],
        'freedom': row["freedom"],
        'generosity': row["generosity"],
        'corruption': row["corruption"],
        'latitude': row["latitude"],
        'longitude': row["longitude"],
    }

    codes_ids[row["code"]] = id

    id += 1

#for index, row in df_nodes.iterrows():
#    nodes[row["code"]]["happiness"][row["year"]] = row["happiness"]

nodes

{'FI': {'id': 0,
  'code': 'FI',
  'name': 'Finland',
  'region': 'Western Europe',
  'happiness': 7.804,
  'gdp': 10.792,
  'social_support': 0.969,
  'life_expectancy': 71.15,
  'freedom': 0.961,
  'generosity': -0.019,
  'corruption': 0.182,
  'latitude': '61.92411',
  'longitude': '25.748151'},
 'DK': {'id': 1,
  'code': 'DK',
  'name': 'Denmark',
  'region': 'Western Europe',
  'happiness': 7.586,
  'gdp': 10.962,
  'social_support': 0.954,
  'life_expectancy': 71.25,
  'freedom': 0.934,
  'generosity': 0.134,
  'corruption': 0.196,
  'latitude': '56.26392',
  'longitude': '9.501785'},
 'IS': {'id': 2,
  'code': 'IS',
  'name': 'Iceland',
  'region': 'Western Europe',
  'happiness': 7.53,
  'gdp': 10.896,
  'social_support': 0.983,
  'life_expectancy': 72.05,
  'freedom': 0.936,
  'generosity': 0.211,
  'corruption': 0.668,
  'latitude': '64.963051',
  'longitude': '-19.020835'},
 'IL': {'id': 3,
  'code': 'IL',
  'name': 'Israel',
  'region': 'Middle East and Northern Africa',
  'happiness': 7.473,
  'gdp': 10.639,
  'social_support': 0.943,
  'life_expectancy': 72.697,
  'freedom': 0.809,
  'generosity': -0.023,
  'corruption': 0.708,
  'latitude': '31.046051',
  'longitude': '34.851612'},
 'NL': {'id': 4,
  'code': 'NL',
  'name': 'Netherlands',
  'region': 'Western Europe',
  'happiness': 7.403,
  'gdp': 10.942,
  'social_support': 0.93,
  'life_expectancy': 71.55,
  'freedom': 0.887,
  'generosity': 0.213,
  'corruption': 0.379,
  'latitude': '52.132633',
  'longitude': '5.291266'},
 'SE': {'id': 5,
  'code': 'SE',
  'name': 'Sweden',
  'region': 'Western Europe',
  'happiness': 7.395,
  'gdp': 10.883,
  'social_support': 0.939,
  'life_expectancy': 72.15,
  'freedom': 0.948,
  'generosity': 0.165,
  'corruption': 0.202,
  'latitude': '60.128161',
  'longitude': '18.643501'},
 'NO': {'id': 6,
  'code': 'NO',
  'name': 'Norway',
  'region': 'Western Europe',
  'happiness': 7.315,
  'gdp': 11.088,
  'social_support': 0.943,
  'life_expectancy': 71.5,
  'freedom': 0.947,
  'generosity': 0.141,
  'corruption': 0.283,
  'latitude': '60.472024',
  'longitude': '8.468946'},
 'CH': {'id': 7,
  'code': 'CH',
  'name': 'Switzerland',
  'region': 'Western Europe',
  'happiness': 7.24,
  'gdp': 11.164,
  'social_support': 0.92,
  'life_expectancy': 72.9,
  'freedom': 0.891,
  'generosity': 0.027,
  'corruption': 0.266,
  'latitude': '46.818188',
  'longitude': '8.227512'},
 'LU': {'id': 8,
  'code': 'LU',
  'name': 'Luxembourg',
  'region': 'Western Europe',
  'happiness': 7.228,
  'gdp': 11.66,
  'social_support': 0.879,
  'life_expectancy': 71.675,
  'freedom': 0.915,
  'generosity': 0.024,
  'corruption': 0.345,
  'latitude': '49.815273',
  'longitude': '6.129583'},
 'NZ': {'id': 9,
  'code': 'NZ',
  'name': 'New Zealand',
  'region': 'Australia and New Zealand',
  'happiness': 7.123,
  'gdp': 10.662,
  'social_support': 0.952,
  'life_expectancy': 70.35,
  'freedom': 0.887,
  'generosity': 0.175,
  'corruption': 0.271,
  'latitude': '-40.900557',
  'longitude': '174.885971'},
 'AT': {'id': 10,
  'code': 'AT',
  'name': 'Austria',
  'region': 'Western Europe',
  'happiness': 7.097,
  'gdp': 10.899,
  'social_support': 0.888,
  'life_expectancy': 71.15,
  'freedom': 0.855,
  'generosity': 0.102,
  'corruption': 0.497,
  'latitude': '47.516231',
  'longitude': '14.550072'},
 'AU': {'id': 11,
  'code': 'AU',
  'name': 'Australia',
  'region': 'Australia and New Zealand',
  'happiness': 7.095,
  'gdp': 10.821,
  'social_support': 0.934,
  'life_expectancy': 71.05,
  'freedom': 0.89,
  'generosity': 0.198,
  'corruption': 0.496,
  'latitude': '-25.274398',
  'longitude': '133.775136'},
 'CA': {'id': 12,
  'code': 'CA',
  'name': 'Canada',
  'region': 'North America',
  'happiness': 6.961,
  'gdp': 10.773,
  'social_support': 0.929,
  'life_expectancy': 71.4,
  'freedom': 0.874,
  'generosity': 0.153,
  'corruption': 0.42,
  'latitude': '56.130366',
  'longitude': '-106.346771'},
 'IE': {'id': 13,
  'code': 'IE',
  'name': 'Ireland',
  'region': 'Western Europe',
  'happiness': 6.911,
  'gdp': 11.527,
  'social_support': 0.905,
  'life_expectancy': 71.3,
  'freedom': 0.874,
  'generosity': 0.092,
  'corruption': 0.358,
  'latitude': '53.41291',
  'longitude': '-8.24389'},
 'US': {'id': 14,
  'code': 'US',
  'name': 'United States',
  'region': 'North America',
  'happiness': 6.894,
  'gdp': 11.048,
  'social_support': 0.919,
  'life_expectancy': 65.85,
  'freedom': 0.8,
  'generosity': 0.137,
  'corruption': 0.689,
  'latitude': '37.09024',
  'longitude': '-95.712891'},
 'DE': {'id': 15,
  'code': 'DE',
  'name': 'Germany',
  'region': 'Western Europe',
  'happiness': 6.892,
  'gdp': 10.879,
  'social_support': 0.896,
  'life_expectancy': 71.3,
  'freedom': 0.846,
  'generosity': 0.03,
  'corruption': 0.42,
  'latitude': '51.165691',
  'longitude': '10.451526'},
 'BE': {'id': 16,
  'code': 'BE',
  'name': 'Belgium',
  'region': 'Western Europe',
  'happiness': 6.859,
  'gdp': 10.844,
  'social_support': 0.915,
  'life_expectancy': 70.899,
  'freedom': 0.825,
  'generosity': 0.001,
  'corruption': 0.549,
  'latitude': '50.503887',
  'longitude': '4.469936'},
 'CZ': {'id': 17,
  'code': 'CZ',
  'name': 'Czechia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.845,
  'gdp': 10.611,
  'social_support': 0.953,
  'life_expectancy': 69.05,
  'freedom': 0.903,
  'generosity': 0.04,
  'corruption': 0.859,
  'latitude': '49.817492',
  'longitude': '15.472962'},
 'GB': {'id': 18,
  'code': 'GB',
  'name': 'United Kingdom',
  'region': 'Western Europe',
  'happiness': 6.796,
  'gdp': 10.704,
  'social_support': 0.882,
  'life_expectancy': 70.3,
  'freedom': 0.852,
  'generosity': 0.253,
  'corruption': 0.454,
  'latitude': '55.378051',
  'longitude': '-3.435973'},
 'LT': {'id': 19,
  'code': 'LT',
  'name': 'Lithuania',
  'region': 'Central and Eastern Europe',
  'happiness': 6.763,
  'gdp': 10.568,
  'social_support': 0.939,
  'life_expectancy': 67.397,
  'freedom': 0.748,
  'generosity': -0.145,
  'corruption': 0.805,
  'latitude': '55.169438',
  'longitude': '23.881275'},
 'FR': {'id': 20,
  'code': 'FR',
  'name': 'France',
  'region': 'Western Europe',
  'happiness': 6.661,
  'gdp': 10.701,
  'social_support': 0.909,
  'life_expectancy': 72.3,
  'freedom': 0.819,
  'generosity': -0.1,
  'corruption': 0.553,
  'latitude': '46.227638',
  'longitude': '2.213749'},
 'SI': {'id': 21,
  'code': 'SI',
  'name': 'Slovenia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.65,
  'gdp': 10.588,
  'social_support': 0.951,
  'life_expectancy': 71.052,
  'freedom': 0.913,
  'generosity': 0.014,
  'corruption': 0.771,
  'latitude': '46.151241',
  'longitude': '14.995463'},
 'CR': {'id': 22,
  'code': 'CR',
  'name': 'Costa Rica',
  'region': 'Latin America and Caribbean',
  'happiness': 6.609,
  'gdp': 9.952,
  'social_support': 0.872,
  'life_expectancy': 70.0,
  'freedom': 0.895,
  'generosity': -0.07,
  'corruption': 0.768,
  'latitude': '9.748917',
  'longitude': '-83.753428'},
 'RO': {'id': 23,
  'code': 'RO',
  'name': 'Romania',
  'region': 'Central and Eastern Europe',
  'happiness': 6.589,
  'gdp': 10.339,
  'social_support': 0.848,
  'life_expectancy': 67.051,
  'freedom': 0.856,
  'generosity': -0.172,
  'corruption': 0.929,
  'latitude': '45.943161',
  'longitude': '24.96676'},
 'SG': {'id': 24,
  'code': 'SG',
  'name': 'Singapore',
  'region': 'Southeastern Asia',
  'happiness': 6.587,
  'gdp': 11.571,
  'social_support': 0.878,
  'life_expectancy': 73.8,
  'freedom': 0.878,
  'generosity': 0.063,
  'corruption': 0.146,
  'latitude': '1.352083',
  'longitude': '103.819836'},
 'AE': {'id': 25,
  'code': 'AE',
  'name': 'United Arab Emirates',
  'region': 'Middle East and Northern Africa',
  'happiness': 6.571,
  'gdp': 11.145,
  'social_support': 0.826,
  'life_expectancy': 66.243,
  'freedom': 0.942,
  'generosity': 0.096,
  'corruption': 0.584,
  'latitude': '23.424076',
  'longitude': '53.847818'},
 'TW': {'id': 26,
  'code': 'TW',
  'name': 'Taiwan Province of China',
  'region': 'Eastern Asia',
  'happiness': 6.535,
  'gdp': 10.797,
  'social_support': 0.884,
  'life_expectancy': 69.6,
  'freedom': 0.804,
  'generosity': -0.129,
  'corruption': 0.681,
  'latitude': '23.69781',
  'longitude': '120.960515'},
 'UY': {'id': 27,
  'code': 'UY',
  'name': 'Uruguay',
  'region': 'Latin America and Caribbean',
  'happiness': 6.494,
  'gdp': 10.037,
  'social_support': 0.913,
  'life_expectancy': 67.5,
  'freedom': 0.895,
  'generosity': -0.065,
  'corruption': 0.575,
  'latitude': '-32.522779',
  'longitude': '-55.765835'},
 'SK': {'id': 28,
  'code': 'SK',
  'name': 'Slovakia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.469,
  'gdp': 10.353,
  'social_support': 0.953,
  'life_expectancy': 68.838,
  'freedom': 0.753,
  'generosity': -0.016,
  'corruption': 0.898,
  'latitude': '48.669026',
  'longitude': '19.699024'},
 'SA': {'id': 29,
  'code': 'SA',
  'name': 'Saudi Arabia',
  'region': 'Middle East and Northern Africa',
  'happiness': 6.463,
  'gdp': 10.715,
  'social_support': 0.884,
  'life_expectancy': 64.399,
  'freedom': 0.894,
  'generosity': -0.081,
  'corruption': 0.691,
  'latitude': '23.885942',
  'longitude': '45.079162'},
 'EE': {'id': 30,
  'code': 'EE',
  'name': 'Estonia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.455,
  'gdp': 10.541,
  'social_support': 0.946,
  'life_expectancy': 69.65,
  'freedom': 0.929,
  'generosity': 0.032,
  'corruption': 0.409,
  'latitude': '58.595272',
  'longitude': '25.013607'},
 'ES': {'id': 31,
  'code': 'ES',
  'name': 'Spain',
  'region': 'Western Europe',
  'happiness': 6.436,
  'gdp': 10.54,
  'social_support': 0.932,
  'life_expectancy': 72.35,
  'freedom': 0.782,
  'generosity': -0.066,
  'corruption': 0.711,
  'latitude': '40.463667',
  'longitude': '-3.74922'},
 'IT': {'id': 32,
  'code': 'IT',
  'name': 'Italy',
  'region': 'Western Europe',
  'happiness': 6.405,
  'gdp': 10.634,
  'social_support': 0.882,
  'life_expectancy': 72.05,
  'freedom': 0.711,
  'generosity': -0.074,
  'corruption': 0.842,
  'latitude': '41.87194',
  'longitude': '12.56738'},
 'XK': {'id': 33,
  'code': 'XK',
  'name': 'Kosovo',
  'region': 'Central and Eastern Europe',
  'happiness': 6.368,
  'gdp': 9.359,
  'social_support': 0.844,
  'life_expectancy': 65.195,
  'freedom': 0.861,
  'generosity': 0.259,
  'corruption': 0.866,
  'latitude': '42.602636',
  'longitude': '20.902977'},
 'CL': {'id': 34,
  'code': 'CL',
  'name': 'Chile',
  'region': 'Latin America and Caribbean',
  'happiness': 6.334,
  'gdp': 10.114,
  'social_support': 0.889,
  'life_expectancy': 70.3,
  'freedom': 0.792,
  'generosity': -0.011,
  'corruption': 0.823,
  'latitude': '-35.675147',
  'longitude': '-71.542969'},
 'MX': {'id': 35,
  'code': 'MX',
  'name': 'Mexico',
  'region': 'Latin America and Caribbean',
  'happiness': 6.33,
  'gdp': 9.85,
  'social_support': 0.804,
  'life_expectancy': 65.8,
  'freedom': 0.856,
  'generosity': -0.094,
  'corruption': 0.768,
  'latitude': '23.634501',
  'longitude': '-102.552784'},
 'MT': {'id': 36,
  'code': 'MT',
  'name': 'Malta',
  'region': 'Western Europe',
  'happiness': 6.3,
  'gdp': 10.661,
  'social_support': 0.923,
  'life_expectancy': 71.6,
  'freedom': 0.886,
  'generosity': 0.119,
  'corruption': 0.729,
  'latitude': '35.937496',
  'longitude': '14.375416'},
 'PA': {'id': 37,
  'code': 'PA',
  'name': 'Panama',
  'region': 'Latin America and Caribbean',
  'happiness': 6.265,
  'gdp': 10.305,
  'social_support': 0.896,
  'life_expectancy': 68.95,
  'freedom': 0.855,
  'generosity': -0.133,
  'corruption': 0.878,
  'latitude': '8.537981',
  'longitude': '-80.782127'},
 'PL': {'id': 38,
  'code': 'PL',
  'name': 'Poland',
  'region': 'Central and Eastern Europe',
  'happiness': 6.26,
  'gdp': 10.453,
  'social_support': 0.925,
  'life_expectancy': 69.049,
  'freedom': 0.765,
  'generosity': -0.031,
  'corruption': 0.736,
  'latitude': '51.919438',
  'longitude': '19.145136'},
 'NI': {'id': 39,
  'code': 'NI',
  'name': 'Nicaragua',
  'region': 'Latin America and Caribbean',
  'happiness': 6.259,
  'gdp': 8.618,
  'social_support': 0.853,
  'life_expectancy': 65.65,
  'freedom': 0.877,
  'generosity': 0.021,
  'corruption': 0.625,
  'latitude': '12.865416',
  'longitude': '-85.207229'},
 'LV': {'id': 40,
  'code': 'LV',
  'name': 'Latvia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.213,
  'gdp': 10.37,
  'social_support': 0.937,
  'life_expectancy': 66.4,
  'freedom': 0.818,
  'generosity': -0.056,
  'corruption': 0.83,
  'latitude': '56.879635',
  'longitude': '24.603189'},
 'BH': {'id': 41,
  'code': 'BH',
  'name': 'Bahrain',
  'region': 'Middle East and Northern Africa',
  'happiness': 6.173,
  'gdp': 10.776,
  'social_support': 0.844,
  'life_expectancy': 65.825,
  'freedom': 0.944,
  'generosity': 0.117,
  'corruption': 0.737,
  'latitude': '25.930414',
  'longitude': '50.637772'},
 'GT': {'id': 42,
  'code': 'GT',
  'name': 'Guatemala',
  'region': 'Latin America and Caribbean',
  'happiness': 6.15,
  'gdp': 9.116,
  'social_support': 0.812,
  'life_expectancy': 62.9,
  'freedom': 0.856,
  'generosity': -0.057,
  'corruption': 0.837,
  'latitude': '15.783471',
  'longitude': '-90.230759'},
 'KZ': {'id': 43,
  'code': 'KZ',
  'name': 'Kazakhstan',
  'region': 'Central and Eastern Europe',
  'happiness': 6.144,
  'gdp': 10.166,
  'social_support': 0.931,
  'life_expectancy': 65.802,
  'freedom': 0.853,
  'generosity': 0.0,
  'corruption': 0.721,
  'latitude': '48.019573',
  'longitude': '66.923684'},
 'RS': {'id': 44,
  'code': 'RS',
  'name': 'Serbia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.144,
  'gdp': 9.854,
  'social_support': 0.873,
  'life_expectancy': 67.088,
  'freedom': 0.845,
  'generosity': 0.204,
  'corruption': 0.816,
  'latitude': '44.016521',
  'longitude': '21.005859'},
 'CY': {'id': 45,
  'code': 'CY',
  'name': 'Cyprus',
  'region': 'Western Europe',
  'happiness': 6.13,
  'gdp': 10.611,
  'social_support': 0.826,
  'life_expectancy': 72.802,
  'freedom': 0.724,
  'generosity': -0.06,
  'corruption': 0.86,
  'latitude': '35.126413',
  'longitude': '33.429859'},
 'JP': {'id': 46,
  'code': 'JP',
  'name': 'Japan',
  'region': 'Eastern Asia',
  'happiness': 6.129,
  'gdp': 10.616,
  'social_support': 0.894,
  'life_expectancy': 74.349,
  'freedom': 0.799,
  'generosity': -0.237,
  'corruption': 0.64,
  'latitude': '36.204824',
  'longitude': '138.252924'},
 'HR': {'id': 47,
  'code': 'HR',
  'name': 'Croatia',
  'region': 'Central and Eastern Europe',
  'happiness': 6.125,
  'gdp': 10.341,
  'social_support': 0.917,
  'life_expectancy': 68.95,
  'freedom': 0.757,
  'generosity': -0.093,
  'corruption': 0.925,
  'latitude': '45.1',
  'longitude': '15.2'},
 'BR': {'id': 48,
  'code': 'BR',
  'name': 'Brazil',
  'region': 'Latin America and Caribbean',
  'happiness': 6.125,
  'gdp': 9.582,
  'social_support': 0.836,
  'life_expectancy': 65.749,
  'freedom': 0.801,
  'generosity': -0.009,
  'corruption': 0.738,
  'latitude': '-14.235004',
  'longitude': '-51.92528'},
 'SV': {'id': 49,
  'code': 'SV',
  'name': 'El Salvador',
  'region': 'Latin America and Caribbean',
  'happiness': 6.122,
  'gdp': 9.089,
  'social_support': 0.755,
  'life_expectancy': 65.597,
  'freedom': 0.918,
  'generosity': -0.108,
  'corruption': 0.62,
  'latitude': '13.794185',
  'longitude': '-88.89653'},
 'HU': {'id': 50,
  'code': 'HU',
  'name': 'Hungary',
  'region': 'Central and Eastern Europe',
  'happiness': 6.041,
  'gdp': 10.419,
  'social_support': 0.943,
  'life_expectancy': 67.5,
  'freedom': 0.758,
  'generosity': -0.059,
  'corruption': 0.839,
  'latitude': '47.162494',
  'longitude': '19.503304'},
 'AR': {'id': 51,
  'code': 'AR',
  'name': 'Argentina',
  'region': 'Latin America and Caribbean',
  'happiness': 6.024,
  'gdp': 9.959,
  'social_support': 0.891,
  'life_expectancy': 67.2,
  'freedom': 0.823,
  'generosity': -0.089,
  'corruption': 0.814,
  'latitude': '-38.416097',
  'longitude': '-63.616672'},
 'HN': {'id': 52,
  'code': 'HN',
  'name': 'Honduras',
  'region': 'Latin America and Caribbean',
  'happiness': 6.023,
  'gdp': 8.635,
  'social_support': 0.766,
  'life_expectancy': 64.063,
  'freedom': 0.843,
  'generosity': 0.097,
  'corruption': 0.843,
  'latitude': '15.199999',
  'longitude': '-86.241905'},
 'UZ': {'id': 53,
  'code': 'UZ',
  'name': 'Uzbekistan',
  'region': 'Central and Eastern Europe',
  'happiness': 6.014,
  'gdp': 8.948,
  'social_support': 0.875,
  'life_expectancy': 65.301,
  'freedom': 0.938,
  'generosity': 0.23,
  'corruption': 0.638,
  'latitude': '41.377491',
  'longitude': '64.585262'},
 'MY': {'id': 54,
  'code': 'MY',
  'name': 'Malaysia',
  'region': 'Southeastern Asia',
  'happiness': 6.012,
  'gdp': 10.169,
  'social_support': 0.799,
  'life_expectancy': 65.662,
  'freedom': 0.877,
  'generosity': 0.16,
  'corruption': 0.758,
  'latitude': '4.210484',
  'longitude': '101.975766'},
 'PT': {'id': 55,
  'code': 'PT',
  'name': 'Portugal',
  'region': 'Western Europe',
  'happiness': 5.968,
  'gdp': 10.429,
  'social_support': 0.878,
  'life_expectancy': 71.25,
  'freedom': 0.902,
  'generosity': -0.196,
  'corruption': 0.878,
  'latitude': '39.399872',
  'longitude': '-8.224454'},
 'KR': {'id': 56,
  'code': 'KR',
  'name': 'South Korea',
  'region': 'Eastern Asia',
  'happiness': 5.951,
  'gdp': 10.693,
  'social_support': 0.812,
  'life_expectancy': 73.65,
  'freedom': 0.717,
  'generosity': -0.046,
  'corruption': 0.701,
  'latitude': '35.907757',
  'longitude': '127.766922'},
 'GR': {'id': 57,
  'code': 'GR',
  'name': 'Greece',
  'region': 'Western Europe',
  'happiness': 5.931,
  'gdp': 10.288,
  'social_support': 0.835,
  'life_expectancy': 71.15,
  'freedom': 0.568,
  'generosity': -0.24,
  'corruption': 0.793,
  'latitude': '39.074208',
  'longitude': '21.824312'},
 'MU': {'id': 58,
  'code': 'MU',
  'name': 'Mauritius',
  'region': 'Sub-Saharan Africa',
  'happiness': 5.902,
  'gdp': 9.957,
  'social_support': 0.888,
  'life_expectancy': 63.85,
  'freedom': 0.813,
  'generosity': -0.028,
  'corruption': 0.775,
  'latitude': '-20.348404',
  'longitude': '57.552152'},
 'TH': {'id': 59,
  'code': 'TH',
  'name': 'Thailand',
  'region': 'Southeastern Asia',
  'happiness': 5.843,
  'gdp': 9.751,
  'social_support': 0.874,
  'life_expectancy': 68.45,
  'freedom': 0.85,
  'generosity': 0.289,
  'corruption': 0.91,
  'latitude': '15.870032',
  'longitude': '100.992541'},
 'MN': {'id': 60,
  'code': 'MN',
  'name': 'Mongolia',
  'region': 'Eastern Asia',
  'happiness': 5.84,
  'gdp': 9.372,
  'social_support': 0.933,
  'life_expectancy': 60.5,
  'freedom': 0.701,
  'generosity': 0.19,
  'corruption': 0.849,
  'latitude': '46.862496',
  'longitude': '103.846656'},
 'KG': {'id': 61,
  'code': 'KG',
  'name': 'Kyrgyzstan',
  'region': 'Central and Eastern Europe',
  'happiness': 5.825,
  'gdp': 8.486,
  'social_support': 0.911,
  'life_expectancy': 66.852,
  'freedom': 0.934,
  'generosity': 0.181,
  'corruption': 0.904,
  'latitude': '41.20438',
  'longitude': '74.766098'},
 'MD': {'id': 62,
  'code': 'MD',
  'name': 'Moldova',
  'region': 'Central and Eastern Europe',
  'happiness': 5.819,
  'gdp': 9.499,
  'social_support': 0.857,
  'life_expectancy': 65.299,
  'freedom': 0.84,
  'generosity': -0.08,
  'corruption': 0.901,
  'latitude': '47.411631',
  'longitude': '28.369885'},
 'CN': {'id': 63,
  'code': 'CN',
  'name': 'China',
  'region': 'Eastern Asia',
  'happiness': 5.818,
  'gdp': 9.738,
  'social_support': 0.836,
  'life_expectancy': 68.689,
  'freedom': 0.882,
  'generosity': -0.041,
  'corruption': 0.727,
  'latitude': '35.86166',
  'longitude': '104.195397'},
 'VN': {'id': 64,
  'code': 'VN',
  'name': 'Vietnam',
  'region': 'Southeastern Asia',
  'happiness': 5.763,
  'gdp': 9.287,
  'social_support': 0.821,
  'life_expectancy': 65.502,
  'freedom': 0.939,
  'generosity': -0.004,
  'corruption': 0.759,

In [101]:
links = {}
# create links
for index, row in df_borders.iterrows():
    code = row["code"]
    border = row["border"]

    if code in codes_ids and border in codes_ids:
        if codes_ids[code] not in links:
            links[codes_ids[code]] = []

        links[codes_ids[code]].append(codes_ids[border])

links

{25: [29],
 136: [63, 100, 107, 79, 53],
 82: [57, 66, 86, 44],
 78: [89, 100, 105],
 51: [68, 48, 34, 65, 27],
 10: [17, 15, 50, 32, 28, 21, 7],
 70: [47, 66, 44],
 117: [125, 116],
 16: [20, 15, 8, 4],
 103: [115, 92, 106, 119, 108, 121],
 76: [57, 86, 23, 44, 105],
 115: [103, 108, 94, 121],
 68: [51, 48, 34, 65, 74],
 48: [51, 68, 71, 65, 74, 27, 87],
 131: [104, 84, 127, 133],
 12: [14],
 132: [85, 128, 112, 127],
 85: [95, 132, 93],
 7: [10, 20, 15, 32],
 92: [103, 106, 90, 124, 119],
 34: [51, 68, 74],
 95: [113, 85, 93, 94],
 63: [136, 81, 125, 43, 61, 88, 60, 116, 77, 107, 69, 79, 64],
 71: [48, 73, 37, 74, 87],
 22: [39, 37],
 17: [10, 15, 38, 28],
 15: [10, 16, 17, 1, 20, 8, 4, 38, 7],
 1: [15],
 80: [119, 102, 99, 108, 109],
 73: [71, 74],
 30: [40, 69],
 120: [3, 98],
 31: [20, 99, 55],
 123: [110],
 0: [6, 69, 5],
 20: [16, 15, 32, 8, 31, 7],
 93: [95, 85],
 18: [13],
 89: [78, 69, 105],
 106: [103, 92, 121],
 118: [101],
 90: [92, 124, 119, 101, 134],
 57: [82, 76, 86, 105],
 42: [49, 52, 35],
 81: [63],
 52: [49, 42, 39],
 47: [70, 50, 66, 44, 21],
 50: [10, 47, 23, 44, 28, 21, 91],
 83: [54],
 13: [18],
 3: [120, 122, 135, 98],
 125: [117, 63, 116, 77, 107],
 97: [100, 122, 29, 105],
 100: [136, 78, 97, 107, 105],
 32: [10, 20, 21, 7],
 122: [97, 3, 98, 29],
 110: [123, 128, 112],
 61: [63, 43, 79, 53],
 114: [88, 59, 64],
 43: [63, 61, 69, 53],
 88: [63, 114, 116, 59, 64],
 135: [3],
 124: [92, 90, 134],
 19: [40, 38, 69],
 8: [16, 15, 20],
 40: [30, 19, 69],
 99: [80, 31],
 62: [23, 91],
 66: [82, 70, 47, 44],
 86: [82, 76, 57, 44],
 119: [80, 103, 92, 90, 102, 108, 101],
 116: [117, 63, 125, 88, 59],
 60: [63, 69],
 102: [80, 119, 101],
 130: [96, 128, 127],
 35: [42, 14],
 54: [83, 59],
 96: [130, 84, 128, 127, 133],
 104: [131, 84, 127],
 108: [80, 115, 103, 113, 119, 94],
 94: [115, 95, 113, 108],
 39: [22, 52],
 4: [16, 15],
 6: [0, 69, 5],
 77: [63, 125],
 37: [71, 22],
 74: [68, 48, 34, 71, 73],
 107: [136, 63, 125, 100],
 38: [17, 15, 19, 69, 28, 91],
 98: [120, 3, 122],
 55: [31],
 65: [51, 68, 48],
 23: [76, 50, 62, 44, 91],
 44: [82, 70, 76, 47, 50, 66, 86, 23],
 69: [63, 30, 0, 89, 43, 40, 19, 60, 6, 38, 91],
 29: [97, 122, 25],
 5: [0, 6],
 21: [10, 47, 50, 32],
 28: [10, 17, 50, 38, 91],
 134: [90, 124],
 101: [118, 90, 119, 102],
 49: [42, 52],
 113: [95, 108, 94],
 121: [115, 103, 106],
 59: [114, 88, 54, 116],
 79: [136, 63, 61, 53],
 109: [80],
 105: [78, 76, 89, 57, 100, 97],
 128: [132, 110, 130, 96, 112, 127],
 91: [50, 62, 38, 23, 69, 28],
 112: [132, 110, 128],
 14: [12, 35],
 27: [51, 48],
 53: [136, 43, 61, 79],
 87: [48, 71],
 64: [114, 63, 88],
 84: [131, 96, 104, 133],
 127: [131, 132, 130, 96, 104, 128, 133],
 133: [131, 96, 84, 127]}

In [102]:
# create json
json_dict = {
    'nodes': [],
    'links': []
}

ids_codes = {v: k for k, v in codes_ids.items()}

for code in nodes:
    json_dict['nodes'].append(nodes[code])

for code in links:
    value = 0
    try:
        value = abs(nodes[ids_codes[code]]['happiness'] - nodes[ids_codes[border]]['happiness'])
    except:
        value = 0
        
    for border in links[code]:
        json_dict['links'].append({
            'source': code,
            'target': border,
            'value': value,
        })
        

# Serializing json
json_object = json.dumps(json_dict, indent=4)
 
# Writing to sample.json
with open(DATA + "network.json", "w") as outfile:
    outfile.write(json_object)

In [105]:
# min and max link value
min_value = math.inf
max_value = -math.inf
id1 = -math.inf
id2 = -math.inf

for link in json_dict['links']:
    if link['value'] < min_value:
        min_value = link['value']
    if link['value'] > max_value:
        max_value = link['value']
        id1 = link['source']
        id2 = link['target']

print(min_value, max_value, id1, id2)

0 4.604 136 63