In [11]:
import pandas as pd
import json

In [12]:
DATA = 'website/src/data/'

df_scores = pd.read_csv(DATA + 'data_scores.csv', na_filter=False)

# drop columns
df_scores = df_scores.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

# rename columns
df_scores.columns = ['year', 'name', 'code', 'region', 'happiness']

df_scores

      year              name code                           region  happiness
0     2015       Switzerland   CH                   Western Europe      7.587
1     2015           Iceland   IS                   Western Europe      7.561
2     2015           Denmark   DK                   Western Europe      7.527
3     2015            Norway   NO                   Western Europe      7.522
4     2015            Canada   CA                    North America      7.427
...    ...               ...  ...                              ...        ...
1360  2023  Congo (Kinshasa)   CD               Sub-Saharan Africa      3.207
1361  2023          Zimbabwe   ZW               Sub-Saharan Africa      3.204
1362  2023      Sierra Leone   SL               Sub-Saharan Africa      3.138
1363  2023           Lebanon   LB  Middle East and Northern Africa      2.392
1364  2023       Afghanistan   AF                    Southern Asia      1.859

[1365 rows x 5 columns]

In [13]:
df_borders = pd.read_csv(DATA + 'country-borders.csv', na_filter=False)

# rename columns
df_borders.columns = ['code', 'name', 'border', 'border_name']

df_borders.drop(['name', 'border_name'], axis=1, inplace=True)

df_borders

    code border
0     AD     FR
1     AD     ES
2     AE     OM
3     AE     SA
4     AF     CN
..   ...    ...
723   ZM     ZW
724   ZW     BW
725   ZW     MZ
726   ZW     ZA
727   ZW     ZM

[728 rows x 2 columns]

In [14]:
df_gps = pd.read_csv(DATA + 'gps.csv', na_filter=False)

# rename columns
df_gps.columns = ['code', 'latitude', 'longitude', 'name']

df_gps = df_gps.drop(['name'], axis=1)
df_gps

    code    latitude   longitude
0     AD   42.546245    1.601554
1     AE   23.424076   53.847818
2     AF    33.93911   67.709953
3     AG   17.060816  -61.796428
4     AI   18.220554  -63.068615
..   ...         ...         ...
240   YE   15.552727   48.516388
241   YT    -12.8275   45.166244
242   ZA  -30.559482   22.937506
243   ZM  -13.133897   27.849332
244   ZW  -19.015438   29.154857

[245 rows x 3 columns]

In [15]:
# merge df_scores and df_gps
df_nodes = pd.merge(df_scores, df_gps, on='code', how='inner')
df_nodes

      year         name code          region  happiness   latitude   longitude
0     2015  Switzerland   CH  Western Europe     7.5870  46.818188    8.227512
1     2016  Switzerland   CH  Western Europe     7.5090  46.818188    8.227512
2     2017  Switzerland   CH  Western Europe     7.4940  46.818188    8.227512
3     2018  Switzerland   CH  Western Europe     7.4870  46.818188    8.227512
4     2019  Switzerland   CH  Western Europe     7.4800  46.818188    8.227512
...    ...          ...  ...             ...        ...        ...         ...
1355  2021       Gambia   GM          Gambia     5.0510  13.443182  -15.310139
1356  2022       Gambia   GM          Gambia     5.1640  13.443182  -15.310139
1357  2023       Gambia   GM          Gambia     4.2790  13.443182  -15.310139
1358  2020     Maldives   MV        Maldives     5.1976   3.202778    73.22068
1359  2021     Maldives   MV        Maldives     5.1980   3.202778    73.22068

[1360 rows x 7 columns]

In [16]:
nodes = {}
codes = {}
id = 0

for index, row in df_nodes[["code", "name", "region", "latitude", "longitude"]].drop_duplicates().iterrows():
    nodes[row["code"]] = {
        'id': id,
        'code': row["code"],
        'name': row["name"],
        'region': row["region"],
        'latitude': row["latitude"],
        'longitude': row["longitude"],
        'happiness' : {},
    }

    codes[row["code"]] = id

    id += 1

for index, row in df_nodes.iterrows():
    nodes[row["code"]]["happiness"][row["year"]] = row["happiness"]

nodes

{'CH': {'id': 0,
  'code': 'CH',
  'name': 'Switzerland',
  'region': 'Western Europe',
  'latitude': '46.818188',
  'longitude': '8.227512',
  'happiness': {2015: 7.587,
   2016: 7.509,
   2017: 7.49399995803833,
   2018: 7.487,
   2019: 7.48,
   2020: 7.559899807,
   2021: 7.571,
   2022: 7.512,
   2023: 7.24}},
 'IS': {'id': 1,
  'code': 'IS',
  'name': 'Iceland',
  'region': 'Western Europe',
  'latitude': '64.963051',
  'longitude': '-19.020835',
  'happiness': {2015: 7.561,
   2016: 7.501,
   2017: 7.50400018692017,
   2018: 7.495,
   2019: 7.494,
   2020: 7.504499912,
   2021: 7.554,
   2022: 7.557,
   2023: 7.53}},
 'DK': {'id': 2,
  'code': 'DK',
  'name': 'Denmark',
  'region': 'Western Europe',
  'latitude': '56.26392',
  'longitude': '9.501785',
  'happiness': {2015: 7.527,
   2016: 7.526,
   2017: 7.52199983596802,
   2018: 7.555,
   2019: 7.6,
   2020: 7.645599842,
   2021: 7.62,
   2022: 7.636,
   2023: 7.586}},
 'NO': {'id': 3,
  'code': 'NO',
  'name': 'Norway',
  'region': 'Western Europe',
  'latitude': '60.472024',
  'longitude': '8.468946',
  'happiness': {2015: 7.522,
   2016: 7.498,
   2017: 7.53700017929077,
   2018: 7.594,
   2019: 7.554,
   2020: 7.487999916,
   2021: 7.392,
   2022: 7.365,
   2023: 7.315}},
 'CA': {'id': 4,
  'code': 'CA',
  'name': 'Canada',
  'region': 'North America',
  'latitude': '56.130366',
  'longitude': '-106.346771',
  'happiness': {2015: 7.427,
   2016: 7.404,
   2017: 7.31599998474121,
   2018: 7.328,
   2019: 7.278,
   2020: 7.23210001,
   2021: 7.103,
   2022: 7.025,
   2023: 6.961}},
 'FI': {'id': 5,
  'code': 'FI',
  'name': 'Finland',
  'region': 'Western Europe',
  'latitude': '61.92411',
  'longitude': '25.748151',
  'happiness': {2015: 7.406,
   2016: 7.413,
   2017: 7.4689998626709,
   2018: 7.632,
   2019: 7.769,
   2020: 7.808700085,
   2021: 7.842,
   2022: 7.821,
   2023: 7.804}},
 'NL': {'id': 6,
  'code': 'NL',
  'name': 'Netherlands',
  'region': 'Western Europe',
  'latitude': '52.132633',
  'longitude': '5.291266',
  'happiness': {2015: 7.378,
   2016: 7.339,
   2017: 7.3769998550415,
   2018: 7.441,
   2019: 7.488,
   2020: 7.448900223,
   2021: 7.464,
   2022: 7.415,
   2023: 7.403}},
 'SE': {'id': 7,
  'code': 'SE',
  'name': 'Sweden',
  'region': 'Western Europe',
  'latitude': '60.128161',
  'longitude': '18.643501',
  'happiness': {2015: 7.364,
   2016: 7.291,
   2017: 7.28399991989136,
   2018: 7.314,
   2019: 7.343,
   2020: 7.353499889,
   2021: 7.363,
   2022: 7.384,
   2023: 7.395}},
 'NZ': {'id': 8,
  'code': 'NZ',
  'name': 'New Zealand',
  'region': 'Australia and New Zealand',
  'latitude': '-40.900557',
  'longitude': '174.885971',
  'happiness': {2015: 7.286,
   2016: 7.334,
   2017: 7.31400012969971,
   2018: 7.324,
   2019: 7.307,
   2020: 7.299600124,
   2021: 7.277,
   2022: 7.2,
   2023: 7.123}},
 'AU': {'id': 9,
  'code': 'AU',
  'name': 'Australia',
  'region': 'Australia and New Zealand',
  'latitude': '-25.274398',
  'longitude': '133.775136',
  'happiness': {2015: 7.284,
   2016: 7.313,
   2017: 7.28399991989136,
   2018: 7.272,
   2019: 7.228,
   2020: 7.222799778,
   2021: 7.183,
   2022: 7.162,
   2023: 7.095}},
 'IL': {'id': 10,
  'code': 'IL',
  'name': 'Israel',
  'region': 'Middle East and Northern Africa',
  'latitude': '31.046051',
  'longitude': '34.851612',
  'happiness': {2015: 7.278,
   2016: 7.267,
   2017: 7.21299982070923,
   2018: 6.814,
   2019: 7.139,
   2020: 7.128600121,
   2021: 7.157,
   2022: 7.364,
   2023: 7.473}},
 'CR': {'id': 11,
  'code': 'CR',
  'name': 'Costa Rica',
  'region': 'Latin America and Caribbean',
  'latitude': '9.748917',
  'longitude': '-83.753428',
  'happiness': {2015: 7.226,
   2016: 7.087,
   2017: 7.0789999961853,
   2018: 7.072,
   2019: 7.167,
   2020: 7.121399879,
   2021: 7.069,
   2022: 6.582,
   2023: 6.609}},
 'AT': {'id': 12,
  'code': 'AT',
  'name': 'Austria',
  'region': 'Western Europe',
  'latitude': '47.516231',
  'longitude': '14.550072',
  'happiness': {2015: 7.2,
   2016: 7.119,
   2017: 7.00600004196167,
   2018: 7.139,
   2019: 7.246,
   2020: 7.294199944,
   2021: 7.268,
   2022: 7.163,
   2023: 7.097}},
 'MX': {'id': 13,
  'code': 'MX',
  'name': 'Mexico',
  'region': 'Latin America and Caribbean',
  'latitude': '23.634501',
  'longitude': '-102.552784',
  'happiness': {2015: 7.187,
   2016: 6.778,
   2017: 6.57800006866455,
   2018: 6.488,
   2019: 6.595,
   2020: 6.465000153,
   2021: 6.317,
   2022: 6.128,
   2023: 6.33}},
 'US': {'id': 14,
  'code': 'US',
  'name': 'United States',
  'region': 'North America',
  'latitude': '37.09024',
  'longitude': '-95.712891',
  'happiness': {2015: 7.119,
   2016: 7.104,
   2017: 6.99300003051758,
   2018: 6.886,
   2019: 6.892,
   2020: 6.939599991,
   2021: 6.951,
   2022: 6.977,
   2023: 6.894}},
 'BR': {'id': 15,
  'code': 'BR',
  'name': 'Brazil',
  'region': 'Latin America and Caribbean',
  'latitude': '-14.235004',
  'longitude': '-51.92528',
  'happiness': {2015: 6.983,
   2016: 6.952,
   2017: 6.63500022888184,
   2018: 6.419,
   2019: 6.3,
   2020: 6.375599861,
   2021: 6.33,
   2022: 6.293,
   2023: 6.125}},
 'LU': {'id': 16,
  'code': 'LU',
  'name': 'Luxembourg',
  'region': 'Western Europe',
  'latitude': '49.815273',
  'longitude': '6.129583',
  'happiness': {2015: 6.946,
   2016: 6.871,
   2017: 6.86299991607666,
   2018: 6.91,
   2019: 7.09,
   2020: 7.237500191,
   2021: 7.324,
   2022: 7.404,
   2023: 7.228}},
 'IE': {'id': 17,
  'code': 'IE',
  'name': 'Ireland',
  'region': 'Western Europe',
  'latitude': '53.41291',
  'longitude': '-8.24389',
  'happiness': {2015: 6.94,
   2016: 6.907,
   2017: 6.97700023651123,
   2018: 6.977,
   2019: 7.021,
   2020: 7.093699932,
   2021: 7.085,
   2022: 7.041,
   2023: 6.911}},
 'BE': {'id': 18,
  'code': 'BE',
  'name': 'Belgium',
  'region': 'Western Europe',
  'latitude': '50.503887',
  'longitude': '4.469936',
  'happiness': {2015: 6.937,
   2016: 6.929,
   2017: 6.89099979400635,
   2018: 6.927,
   2019: 6.923,
   2020: 6.863500118,
   2021: 6.834,
   2022: 6.805,
   2023: 6.859}},
 'AE': {'id': 19,
  'code': 'AE',
  'name': 'United Arab Emirates',
  'region': 'Middle East and Northern Africa',
  'latitude': '23.424076',
  'longitude': '53.847818',
  'happiness': {2015: 6.901,
   2016: 6.573,
   2017: 6.64799976348877,
   2018: 6.774,
   2019: 6.825,
   2020: 6.790800095,
   2021: 6.561,
   2022: 6.576,
   2023: 6.571}},
 'GB': {'id': 20,
  'code': 'GB',
  'name': 'United Kingdom',
  'region': 'Western Europe',
  'latitude': '55.378051',
  'longitude': '-3.435973',
  'happiness': {2015: 6.867,
   2016: 6.725,
   2017: 6.71400022506714,
   2018: 7.19,
   2019: 7.054,
   2020: 7.164500237,
   2021: 7.064,
   2022: 6.943,
   2023: 6.796}},
 'OM': {'id': 21,
  'code': 'OM',
  'name': 'Oman',
  'region': 'Middle East and Northern Africa',
  'latitude': '21.512583',
  'longitude': '55.923255',
  'happiness': {2015: 6.853}},
 'VE': {'id': 22,
  'code': 'VE',
  'name': 'Venezuela',
  'region': 'Latin America and Caribbean',
  'latitude': '6.42375',
  'longitude': '-66.58973',
  'happiness': {2015: 6.81,
   2016: 6.084,
   2017: 5.25,
   2018: 4.806,
   2019: 4.707,
   2020: 5.053199768,
   2021: 4.892,
   2022: 4.925,
   2023: 5.211}},
 'SG': {'id': 23,
  'code': 'SG',
  'name': 'Singapore',
  'region': 'Southeastern Asia',
  'latitude': '1.352083',
  'longitude': '103.819836',
  'happiness': {2015: 6.798,
   2016: 6.739,
   2017: 6.57200002670288,
   2018: 6.343,
   2019: 6.262,
   2020: 6.377099991,
   2021: 6.377,
   2022: 6.48,
   2023: 6.587}},
 'PA': {'id': 24,
  'code': 'PA',
  'name': 'Panama',
  'region': 'Latin America and Caribbean',
  'latitude': '8.537981',
  'longitude': '-80.782127',
  'happiness': {2015: 6.786,
   2016: 6.701,
   2017: 6.4520001411438,
   2018: 6.43,
   2019: 6.321,
   2020: 6.304800034,
   2021: 6.18,
   2022: 6.309,
   2023: 6.265}},
 'DE': {'id': 25,
  'code': 'DE',
  'name': 'Germany',
  'region': 'Western Europe',
  'latitude': '51.165691',
  'longitude': '10.451526',
  'happiness': {2015: 6.75,
   2016: 6.994,
   2017: 6.95100021362305,
   2018: 6.965,
   2019: 6.985,
   2020: 7.075799942,
   2021: 7.155,
   2022: 7.034,
   2023: 6.892}},
 'CL': {'id': 26,
  'code': 'CL',
  'name': 'Chile',
  'region': 'Latin America and Caribbean',
  'latitude': '-35.675147',
  'longitude': '-71.542969',
  'happiness': {2015: 6.67,
   2016: 6.705,
   2017: 6.65199995040894,
   2018: 6.476,
   2019: 6.444,
   2020: 6.228499889,
   2021: 6.172,
   2022: 6.172,
   2023: 6.334}},
 'QA': {'id': 27,
  'code': 'QA',
  'name': 'Qatar',
  'region': 'Middle East and Northern Africa',
  'latitude': '25.354826',
  'longitude': '51.183884',
  'happiness': {2015: 6.611,
   2016: 6.375,
   2017: 6.375,
   2018: 6.374,
   2019: 6.374}},
 'FR': {'id': 28,
  'code': 'FR',
  'name': 'France',
  'region': 'Western Europe',
  'latitude': '46.227638',
  'longitude': '2.213749',
  'happiness': {2015: 6.575,
   2016: 6.478,
   2017: 6.44199991226196,
   2018: 6.489,
   2019: 6.592,
   2020: 6.663799763,
   2021: 6.69,
   2022: 6.687,
   2023: 6.661}},
 'AR': {'id': 29,
  'code': 'AR',
  'name': 'Argentina',
  'region': 'Latin America and Caribbean',
  'latitude': '-38.416097',
  'longitude': '-63.616672',
  'happiness': {2015: 6.574,
   2016: 6.65,
   2017: 6.59899997711182,
   2018: 6.388,
   2019: 6.086,
   2020: 5.974699974,
   2021: 5.929,
   2022: 5.967,
   2023: 6.024}},
 'CZ': {'id': 30,
  'code': 'CZ',
  'name': 'Czechia',
  'region': 'Central and Eastern Europe',
  'latitude': '49.817492',
  'longitude': '15.472962',
  'happiness': {2015: 6.505,
   2016: 6.596,
   2017: 6.60900020599365,
   2018: 6.711,
   2019: 6.852,
   2020: 6.910900116,
   2021: 6.965,
   2022: 6.92,
   2023: 6.845}},
 'UY': {'id': 31,
  'code': 'UY',
  'name': 'Uruguay',
  'region': 'Latin America and Caribbean',
  'latitude': '-32.522779',
  'longitude': '-55.765835',
  'happiness': {2015: 6.485,
   2016: 6.545,
   2017: 6.4539999961853,
   2018: 6.379,
   2019: 6.293,
   2020: 6.440100193,
   2021: 6.431,
   2022: 6.474,
   2023: 6.494}},
 'CO': {'id': 32,
  'code': 'CO',
  'name': 'Colombia',
  'region': 'Latin America and Caribbean',
  'latitude': '4.570868',
  'longitude': '-74.297333',
  'happiness': {2015: 6.477,
   2016: 6.481,
   2017: 6.35699987411499,
   2018: 6.26,
   2019: 6.125,
   2020: 6.163400173,
   2021: 6.012,
   2022: 5.781,
   2023: 5.63}},
 'TH': {'id': 33,
  'code': 'TH',
  'name': 'Thailand',
  'region': 'Southeastern Asia',
  'latitude': '15.870032',
  'longitude': '100.992541',
  'happiness': {2015: 6.455,
   2016: 6.474,
   2017: 6.42399978637695,
   2018: 6.072,
   2019: 6.008,
   2020: 5.998799801,
   2021: 5.985,
   2022: 5.891,
   2023: 5.843}},
 'SA': {'id': 34,
  'code': 'SA',
  'name': 'Saudi Arabia',
  'region': 'Middle East and Northern Africa',
  'latitude': '23.885942',
  'longitude': '45.079162',
  'happiness': {2015: 6.411,
   2016: 6.379,
   2017: 6.3439998626709,
   2018: 6.371,
   2019: 6.375,
   2020: 6.406499863,
   2021: 6.494,
   2022: 6.523,
   2023: 6.463}},
 'ES': {'id': 35,
  'code': 'ES',
  'name': 'Spain',
  'region': 'Western Europe',
  'latitude': '40.463667',
  'longitude': '-3.74922',
  'happiness': {2015: 6.329,
   2016: 6.361,
   2017: 6.40299987792969,
   2018: 6.31,
   2019: 6.354,
   2020: 6.400899887,
   2021: 6.491,
   2022: 6.476,
   2023: 6.436}},
 'MT': {'id': 36,
  'code': 'MT',
  'name': 'Malta',
  'region': 'Western Europe',
  'latitude': '35.937496',
  'longitude': '14.375416',
  'happiness': {2015: 6.302,
   2016: 6.488,
   2017: 6.52699995040894,
   2018: 6.627,
   2019: 6.726,
   2020: 6.772799969,
   2021: 6.602,
   2022: 6.447,
   2023: 6.3}},
 'TW': {'id': 37,
  'code': 'TW',
  'name': 'Taiwan Province of China',
  'region': 'Eastern Asia',
  'latitude': '23.69781',
  'longitude': '120.960515',
  'happiness': {2015: 6.298,
   2016: 6.379,
   2017: 6.42199993133545,
   2018: 6.441,
   2019: 6.446,
   2020: 6.45539999,
   2021: 6.584,
   2022: 6.512,
   2023: 6.535}},
 'KW': {'id': 38,
  'code': 'KW',
  'name': 'Kuwait',
  'region': 'Middle East and Northern Africa',
  'latitude': '29.31166',
  'longitude': '47.481766',
  'happiness': {2015: 6.295,
   2016: 6.239,
   2017: 6.10500001907349,
   2018: 6.083,
   2019: 6.021,
   2020: 6.102099895,
   2021: 6.106,
   2022: 6.106}},
 'SR': {'id': 39,
  'code': 'SR',
  'name': 'Suriname',
  'region': 'Latin America and Caribbean',
  'latitude': '3.919305',
  'longitude': '-56.027783',
  'happiness': {2015: 6.269, 2016: 6.269}},
 'TT': {'id': 40,
  'code': 'TT',
  'name': 'Trinidad and Tobago',
  'region': 'Latin America and Caribbean',
  'latitude': '10.691803',
  'longitude': '-61.222503',
  'happiness': {2015: 6.168,
   2016: 6.168,
   2017: 6.16800022125244,
   2018: 6.192,
   2019: 6.192,
   2020: 6.191899776}},
 'SV': {'id': 41,
  'code': 'SV',
  'name': 'El Salvador',
  'region': 'Latin America and Caribbean',
  'latitude': '13.794185',
  'longitude': '-88.89653',
  'happiness': {2015: 6.13,
   2016: 6.068,
   2017: 6.00299978256226,
   2018: 6.167,
   2019: 6.253,
   2020: 6.34829998,
   2021: 6.061,
   2022: 6.12,
   2023: 6.122}},
 'GT': {'id': 42,
  'code': 'GT',
  'name': 'Guatemala',
  'region': 'Latin America and Caribbean',
  'latitude': '15.783471',
  'longitude': '-90.230759',
  'happiness': {2015: 6.123,
   2016: 6.324,
   2017: 6.4539999961853,
   2018: 6.382,
   2019: 6.436,
   2020: 6.398900032,
   2021: 6.435,
   2022: 6.262,
   2023: 6.15}},
 'UZ': {'id': 43,
  'code': 'UZ',
  'name': 'Uzbekistan',
  'region': 'Central and Eastern Europe',
  'latitude': '41.377491',
  'longitude': '64.585262',
  'happiness': {2015: 6.003,
   2016: 5.987,
   2017: 5.97100019454956,
   2018: 6.096,
   2019: 6.174,
   2020: 6.257599831,
   2021: 6.179,
   2022: 6.063,
   2023: 6.014}},
 'SK': {'id': 44,
  'code': 'SK',
  'name': 'Slovakia',
  'region': 'Central and Eastern Europe',
  'latitude': '48.669026',
  'longitude': '19.699024',
  'happiness': {2015: 5.995,
   2016: 6.078,
   2017: 6.09800004959106,
   2018: 6.173,
   2019: 6.198,
   2020: 6.280600071,
   2021: 6.331,
   2022: 6.391,
   2023: 6.469}},
 'JP': {'id': 45,
  'code': 'JP',
  'name': 'Japan',
  'region': 'Eastern Asia',
  'latitude': '36.204824',
  'longitude': '138.252924',
  'happiness': {2015: 5.987,
   2016: 5.921,
   2017: 5.92000007629395,
   2018: 5.915,
   2019: 5.886,
   2020: 5.870800018,
   2021: 5.94,
   2022: 6.039,
   2023: 6.129}},
 'KR': {'id': 46,
  'code': 'KR',
  'name': 'South Korea',
  'region': 'Eastern Asia',
  'latitude': '35.907757',
  'longitude': '127.766922',
  'happiness': {2015: 5.984,
   2016: 5.835,
   2017: 5.83799982070923,
   2018: 5.875,
   2019: 5.895,
   2020: 5.872399807,
   2021: 5.845,
   2022: 5.935,
   2023: 5.951}},
 'EC': {'id': 47,
  'code': 'EC',
  'name': 'Ecuador',
  'region': 'Latin America and Caribbean',
  'latitude': '-1.831239',
  'longitude': '-78.183406',
  'happiness': {2015: 5.975,
   2016: 5.976,
   2017: 6.00799989700317,
   2018: 5.973,
   2019: 6.028,
   2020: 5.925199986,
   2021: 5.764,
   2022: 5.533,
   2023: 5.559}},
 'BH': {'id': 48,
  'code': 'BH',
  'name': 'Bahrain',
  'region': 'Middle East and Northern Africa',
  'latitude': '25.930414',
  'longitude': '50.637772',
  'happiness': {2015: 5.96,
   2016: 6.218,
   2017: 6.08699989318848,
   2018: 6.105,
   2019: 6.199,
   2020: 6.227300167,
   2021: 6.647,
   2022: 6.647,
   2023: 6.173}},
 'IT': {'id': 49,
  'code': 'IT',
  'name': 'Italy',
  'region': 'Western Europe',
  'latitude': '41.87194',
  'longitude': '12.56738',
  'happiness': {2015: 5.948,
   2016: 5.977,
   2017: 5.96400022506714,
   2018: 6.0,
   2019: 6.223,
   2020: 6.38740015,
   2021: 6.483,
   2022: 6.467,
   2023: 6.405}},
 'BO': {'id': 50,
  'code': 'BO',
  'name': 'Bolivia',
  'region': 'Latin America and Caribbean',
  'latitude': '-16.290154',
  'longitude': '-63.588653',
  'happiness': {2015: 5.89,
   2016: 5.822,
   2017: 5.82299995422363,
   2018: 5.752,
   2019: 5.779,
   2020: 5.747499943,
   2021: 5.716,
   2022: 5.6,
   2023: 5.684}},
 'MD': {'id': 51,
  'code': 'MD',
  'name': 'Moldova',
  'region': 'Central and Eastern Europe',
  'latitude': '47.411631',
  'longitude': '28.369885',
  'happiness': {2015: 5.889,
   2016: 5.897,
   2017: 5.83799982070923,
   2018: 5.64,
   2019: 5.529,
   2020: 5.607500076,
   2021: 5.766,
   2022: 5.857,
   2023: 5.819}},
 'PY': {'id': 52,
  'code': 'PY',
  'name': 'Paraguay',
  'region': 'Latin America and Caribbean',
  'latitude': '-23.442503',
  'longitude': '-58.443832',
  'happiness': {2015: 5.878,
   2016: 5.538,
   2017: 5.49300003051758,
   2018: 5.681,
   2019: 5.743,
   2020: 5.692100048,
   2021: 5.653,
   2022: 5.578,
   2023: 5.738}},
 'KZ': {'id': 53,
  'code': 'KZ',
  'name': 'Kazakhstan',
  'region': 'Central and Eastern Europe',
  'latitude': '48.019573',
  'longitude': '66.923684',
  'happiness': {2015: 5.855,
   2016: 5.919,
   2017: 5.81899976730347,
   2018: 5.79,
   2019: 5.809,
   2020: 6.057899952,
   2021: 6.152,
   2022: 6.234,
   2023: 6.144}},
 'SI': {'id': 54,
  'code': 'SI',
  'name': 'Slovenia',
  'region': 'Central and Eastern Europe',
  'latitude': '46.151241',
  'longitude': '14.995463',
  'happiness': {2015: 5.848,
   2016: 5.768,
   2017: 5.75799989700317,
   2018: 5.948,
   2019: 6.118,
   2020: 6.363399982,
   2021: 6.461,
   2022: 6.63,
   2023: 6.65}},
 'LT': {'id': 55,
  'code': 'LT',
  'name': 'Lithuania',
  'region': 'Central and Eastern Europe',
  'latitude': '55.169438',
  'longitude': '23.881275',
  'happiness': {2015: 5.833,
   2016: 5.813,
   2017: 5.90199995040894,
   2018: 5.952,
   2019: 6.149,
   2020: 6.215499878,
   2021: 6.255,
   2022: 6.446,
   2023: 6.763}},
 'NI': {'id': 56,
  'code': 'NI',
  'name': 'Nicaragua',
  'region': 'Latin America and Caribbean',
  'latitude': '12.865416',
  'longitude': '-85.207229',
  'happiness': {2015: 5.828,
   2016: 5.992,
   2017: 6.07100009918213,
   2018: 6.141,
   2019: 6.105,
   2020: 6.13710022,
   2021: 5.972,
   2022: 6.165,
   2023: 6.259}},
 'PE': {'id': 57,
  'code': 'PE',
  'name': 'Peru',
  'region': 'Latin America and Caribbean',
  'latitude': '-9.189967',
  'longitude': '-75.015152',
  'happiness': {2015: 5.824,
   2016: 5.743,
   2017: 5.71500015258789,
   2018: 5.663,
   2019: 5.697,
   2020: 5.796800137,
   2021: 5.84,
   2022: 5.559,
   2023: 5.526}},
 'BY': {'id': 58,
  'code': 'BY',
  'name': 'Belarus',
  'region': 'Central and Eastern Europe',
  'latitude': '53.709807',
  'longitude': '27.953389',
  'happiness': {2015: 5.813,
   2016: 5.802,
   2017: 5.56899976730347,
   2018: 5.483,
   2019: 5.323,
   2020: 5.539899826,
   2021: 5.534,
   2022: 5.821}},
 'PL': {'id': 59,
  'code': 'PL',
  'name': 'Poland',
  'region': 'Central and Eastern Europe',
  'latitude': '51.919438',
  'longitude': '19.145136',
  'happiness': {2015: 5.791,
   2016: 5.835,
   2017: 5.97300004959106,
   2018: 6.123,
   2019: 6.182,
   2020: 6.186299801,
   2021: 6.166,
   2022: 6.123,
   2023: 6.26}},
 'MY': {'id': 60,
  'code': 'MY',
  'name': 'Malaysia',
  'region': 'Southeastern Asia',
  'latitude': '4.210484',
  'longitude': '101.975766',
  'happiness': {2015: 5.77,
   2016: 6.005,
   2017: 6.08400011062622,
   2018: 6.322,
   2019: 5.339,
   2020: 5.384300232,
   2021: 5.384,
   2022: 5.711,
   2023: 6.012}},
 'HR': {'id': 61,
  'code': 'HR',
  'name': 'Croatia',
  'region': 'Central and Eastern Europe',
  'latitude': '45.1',
  'longitude': '15.2',
  'happiness': {2015: 5.759,
   2016: 5.488,
   2017: 5.29300022125244,
   2018: 5.321,
   2019: 5.432,
   2020: 5.504700184,
   2021: 5.882,
   2022: 6.125,
   2023: 6.125}},
 'LY': {'id': 62,
  'code': 'LY',
  'name': 'Libya',
  'region': 'Middle East and Northern Africa',
  'latitude': '26.3351',
  'longitude': '17.228331',
  'happiness': {2015: 5.754,
   2016: 5.615,
   2017: 5.52500009536743,
   2018: 5.566,
   2019: 5.525,
   2020: 5.488800049,
   2021: 5.41,
   2022: 5.33}},
 'RU': {'id': 63,
  'code': 'RU',

In [17]:
links = {}
# create links
for index, row in df_borders.iterrows():
    code = row["code"]
    border = row["border"]

    if code in codes and border in codes:
        if codes[code] not in links:
            links[codes[code]] = []

        links[codes[code]].append(codes[border])

links

{19: [21, 34],
 151: [83, 108, 80, 104, 69, 43],
 93: [100, 82, 91, 86],
 125: [79, 128, 108, 75],
 135: [137, 118, 160, 84],
 29: [50, 15, 26, 52, 31],
 12: [30, 25, 102, 49, 44, 54, 0],
 79: [125, 128, 108, 63, 75],
 94: [61, 82, 86],
 107: [115, 127],
 18: [28, 25, 16, 6],
 150: [153, 149, 112, 136, 142, 156],
 132: [100, 91, 85, 86, 75],
 155: [118, 152, 144],
 153: [150, 142, 77, 156],
 50: [29, 15, 26, 52, 57],
 15: [29, 50, 32, 52, 57, 39, 31, 22],
 78: [83, 115],
 126: [160, 111, 84, 113],
 58: [88, 55, 59, 63, 109],
 158: [42, 13],
 4: [14],
 118: [135, 155, 146, 137, 152, 144, 139, 84],
 146: [131, 147, 137, 118, 116],
 137: [135, 131, 146, 118, 141],
 0: [12, 28, 25, 49],
 149: [150, 112, 148, 114, 136],
 26: [29, 50, 57],
 131: [146, 147, 137, 141, 77],
 83: [151, 78, 71, 115, 53, 76, 97, 98, 127, 119, 80, 63, 104, 74],
 32: [15, 47, 24, 57, 22],
 11: [56, 24],
 30: [12, 25, 59, 44],
 25: [12, 18, 30, 2, 28, 16, 6, 59, 0],
 124: [120, 159],
 2: [25],
 96: [117],
 67: [62, 136, 122, 90, 142, 105],
 47: [32, 57],
 72: [88, 63],
 133: [10, 62, 106, 116],
 35: [28, 90, 87],
 120: [124, 123, 159, 116],
 5: [3, 63, 7],
 28: [18, 25, 49, 16, 35, 0],
 141: [131, 137],
 20: [17],
 128: [125, 79, 63, 75],
 112: [150, 149, 156],
 161: [140],
 148: [149, 114, 136, 140, 121],
 100: [93, 132, 91, 75],
 42: [158, 41, 103, 13],
 71: [83],
 103: [41, 42, 56],
 61: [94, 102, 82, 86, 54],
 117: [96],
 102: [12, 61, 85, 86, 44, 54, 109],
 73: [60],
 17: [20],
 10: [133, 81, 101, 106, 154],
 115: [107, 78, 83, 127, 119, 80],
 110: [108, 81, 38, 34, 154, 75],
 108: [151, 125, 79, 110, 80, 75, 69],
 49: [12, 28, 54, 0],
 81: [110, 10, 106, 34, 154],
 123: [120, 159, 144, 139],
 76: [83, 53, 104, 43],
 143: [97, 33, 74],
 38: [110, 34],
 53: [83, 76, 63, 69, 43],
 97: [83, 143, 127, 33, 74],
 101: [10, 154],
 114: [149, 148, 121],
 95: [111],
 55: [58, 88, 59, 63],
 16: [18, 25, 28],
 88: [58, 72, 55, 63],
 62: [67, 147, 133, 142, 116, 105],
 90: [67, 35],
 51: [85, 109],
 82: [93, 94, 61, 86],
 91: [93, 132, 100, 86],
 136: [67, 150, 149, 148, 122, 142, 140],
 127: [107, 83, 115, 97, 33],
 98: [83, 63],
 122: [67, 136, 140],
 129: [92, 144, 84],
 13: [158, 42, 14],
 60: [73, 33],
 92: [129, 99, 111, 144, 84, 113],
 160: [135, 126, 111, 84],
 142: [67, 153, 150, 147, 62, 136, 77],
 77: [153, 131, 147, 142],
 56: [11, 103],
 6: [18, 25],
 3: [5, 63, 7],
 119: [83, 115],
 21: [19, 34, 134],
 24: [32, 11],
 57: [50, 15, 26, 32, 47],
 80: [151, 83, 115, 108],
 59: [58, 30, 25, 55, 63, 44, 109],
 106: [133, 10, 81],
 87: [35],
 52: [29, 50, 15],
 27: [34],
 85: [132, 102, 51, 86, 109],
 86: [93, 94, 132, 61, 102, 82, 91, 85],
 63: [79, 58, 83, 72, 5, 128, 53, 88, 55, 98, 3, 59, 109],
 152: [155, 118, 144, 139],
 34: [110, 81, 38, 21, 27, 19, 134],
 116: [146, 147, 133, 120, 62],
 7: [5, 3],
 54: [12, 61, 102, 49],
 44: [12, 30, 102, 59, 109],
 121: [148, 114],
 140: [161, 148, 136, 122],
 159: [124, 120, 123],
 39: [15],
 41: [42, 103],
 154: [110, 10, 81, 101, 75],
 99: [92, 111],
 147: [131, 146, 62, 142, 77, 116],
 156: [153, 150, 112],
 33: [143, 97, 60, 127],
 104: [151, 83, 76, 43],
 69: [151, 108, 53, 43],
 105: [67, 62],
 75: [125, 79, 132, 128, 100, 108, 110, 154],
 144: [155, 118, 123, 129, 92, 152, 139, 84],
 109: [58, 102, 51, 59, 85, 63, 44],
 139: [118, 123, 152, 144],
 14: [4, 13],
 31: [29, 15],
 43: [151, 53, 76, 104, 69],
 22: [15, 32],
 74: [143, 83, 97],
 134: [21, 34],
 111: [126, 95, 92, 160, 99, 113],
 84: [135, 126, 118, 129, 92, 160, 144, 113],
 113: [126, 92, 111, 84]}

In [20]:
# create json
json_dict = {
    'nodes': [],
    'links': []
}


for code in nodes:
    json_dict['nodes'].append(nodes[code])

for code in links:
    for border in links[code]:
        json_dict['links'].append({
            'source': code,
            'target': border
        })

# Serializing json
json_object = json.dumps(json_dict, indent=4)
 
# Writing to sample.json
with open(DATA + "network.json", "w") as outfile:
    outfile.write(json_object)